:host{
display: block;
padding-top: 20px;

}
.card {

  margin-bottom: 10px;
}


.img{
 height: 300px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
