
<div class="wrapper">
  <mat-card class="card">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>SignUp Now For Best Offers</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>FirstName</mat-label>
        <input
          matInput
          placeholder="Ex. John"
          type="text"
          formControlName="first_name"
        />
        <mat-error *ngIf="getErrors('first_name')?.required">
          Firstname is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('first_name')?.minlength">
          Firstname minimum length is <strong>3</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('first_name')?.maxlength">
          Firstname maximum length is <strong>10</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>LastName</mat-label>
        <input
          matInput
          placeholder="Ex. John"
          type="text"
          formControlName="last_name"
        />
        <mat-error *ngIf="getErrors('last_name')?.required">
          LastName is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('last_name')?.minlength">
          LastName minimum length is <strong>3</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('last_name')?.maxlength">
          LastName maximum length is <strong>10</strong>
        </mat-error>
      </mat-form-field>



      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          formControlName="email"

        />
        <mat-error *ngIf="getErrors('email')?.email">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="getErrors('email')?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter Your Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"

        />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="getErrors('password')?.pattern">
         password must contains at least one uppercase one number and one special character
        </mat-error>
        <mat-error *ngIf="getErrors('password')?.required">
          password is <strong>required</strong>
        </mat-error>
      </mat-form-field>


 <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter your Age</mat-label>
        <input
          matInput
          placeholder="Ex. 25"
          type="number"
          formControlName="age"
        />
        <mat-error *ngIf="getErrors('age')?.required">
          age is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('age')?.min">
          minimum  age  is <strong>18</strong>
        </mat-error>
        <mat-error *ngIf="getErrors('age')?.max">
          maximum  age  is <strong>100</strong>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="center" type="submit" [disabled]="!signupForm.valid">Submit</button>
      <p *ngIf="isSignedup">you are successfully signed up <button mat-button routerLink="/login" color="primary"> Login</button></p>
      <p *ngIf="errMessage">{{errMessage}}</p>
    </form>
  </mat-card>

</div>

